<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Camper's Home 2024</span>
        <span class="text-muted mr-0">|| Developed by Omkar</span>
    </div>

</footer>